.download-main-details {
    margin-top: 61px;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    height:360px;
    box-sizing: border-box;
    -webkit-box-shadow: 0 3px 10px rgba(0,0,0,.1);
    box-shadow: 0 3px 10px rgba(0,0,0,.1);
    border-radius: 1rem;
}

.inn-content-reseter {
    word-break: normal;
    word-wrap: break-word;
    padding-left: 18px;
    background: rgba(0,0,0,.03);
    line-height: 44px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

.download-main-details a{
	color: #0480e2;
}

.download-main-details p{
	font-size: 16px;
	line-height: 30px;
	font-weight: 600;
}











.report-win {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
}

.report-win .report-bg {
    height: 100%;
    background: #000;
    opacity: .4;
    filter: alpha(opacity=40);
}

.report-win .report-m {
    width: 400px;
    height: 460px;
    position: absolute;
    left: 50%;
    top: 20%;
    margin: 0 0 0 -201px;
    border: 1px #e5e5e5 solid;
    border-radius: 3px;
    background-color: #fafafa;
    
}

.report-m .inform-des {
    margin: 20px 0;
    width: 344px;
    height: 84px;
    border: 1px solid #dedede;
    border-radius: 4px;
    overflow: hidden;
}

.report-m .inform-qq {
    margin-bottom: 20px;
    width: 344px;
    height: 32px;
    border: 1px solid #dedede;
    border-radius: 4px;
    overflow: hidden;
}

.report-m .inform-des textarea {
	outline: 0;
    text-indent: 1em;
   font-family: "微软雅黑";
    resize: none;
    border: 0;
    width: 100%;
    height: 100%;
    font-size: 12px;
    line-height: 2;
    color: #333;
}

.report-m .inform-qq input {
	outline: 0;
    text-indent: 1em;
   font-family: "微软雅黑";
    resize: none;
    border: 0;
    width: 100%;
    height: 100%;
    font-size: 12px;
    line-height: 32px;
    color: #333;
}

.report-m .model-btn {
    display: inline-block;
    width: 120px;
    height: 40px;
    border-radius: 4px;
    vertical-align: middle;
    background: #ff630e;
	background-image: -webkit-gradient(linear,left top,right top,from(#fda233),to(#ff630e));
    background-image: -webkit-linear-gradient(left,#fda233,#ff630e);
    background-image: linear-gradient(to right,#fda233,#ff630e);
}

.report-m .model-btn:hover{
	 -webkit-box-shadow: 0 2px 8px 0 rgba(0,0,0,.15);
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.15);
        -webkit-transition: all .2s;
    opacity: .9;
}

.report-m .model-btn>a {
    width: 100%;
    height: 100%;
    font-size: 16px;
    display: block;
    text-align: center;
    line-height: 40px;
    color: #fff;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.report-m .head {
    height: 54px;
    line-height: 54px;
    border-bottom: 1px #e5e5e5 solid;
    padding: 0;
}

.report-m  .jubao-close{
    position: absolute;
    font-size: 40px;
    color: #b3b3b3;
    right: 8px;
    top: -6px;
}

.report-m .head h3 {
    color: #888;
    font-size: 20px;
    text-indent: 34px;
    font-weight: normal;
}

.report-m .radio-div{
	padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.report-m .radio-div:HOVER,.report-m .radio-div.active{
	background: #f6f6f6;
}

.report-m .radio-inline {
    height: 28px;
    line-height: 28px;
}

[type=radio]:checked, [type=radio]:not(:checked) {
    position: absolute;
    left: -9999px;
    opacity: 0;
}

[type=radio]:checked+label, [type=radio]:not(:checked)+label {
    position: relative;
    padding-left: 45px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    -webkit-transition: -webkit-transform .28s ease;
    transition: -webkit-transform .28s ease;
    transition: transform .28s ease;
    transition: transform .28s ease,-webkit-transform .28s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

[type=radio]:checked+label:after {
    background: url(https://cdn.jsdelivr.net/gh/tempResources/zhaipicres@2.0/img/zticon.png) -251px -31px no-repeat;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

[type=radio]:not(:checked)+label:after, [type=radio]:not(:checked)+label:before {
    border: 1px solid #cfcfcf;
}

[type=radio]:checked+label:after, [type=radio]:checked+label:before, [type=radio]:not(:checked)+label:after, [type=radio]:not(:checked)+label:before {
    border-radius: 50%;
}

[type=radio]:checked+label:before {
    border: 1px solid #ff630e;
    background-color: #ff630e;
}

[type=radio]+label:before {
    -webkit-transition: -webkit-transform .28s ease;
    transition: -webkit-transform .28s ease;
    transition: transform .28s ease;
    transition: transform .28s ease,-webkit-transform .28s ease;
}

[type=radio]+label:after, [type=radio]+label:before {
    content: '';
    position: absolute;
    top: -6px;
    margin: 4px;
    width: 28px;
    height: 28px;
    z-index: 0;
    left: 0;
}

.report-m .radio-inline label {
    cursor: pointer;
    font-size: 14px;
    color: #666;
}