.outcolor, .outcolor .slide .images {
	min-width: 1200px;
	height: 400px;
	position: relative;
}

.outcolor .slide {
	min-width: 1200px;
	width: inherit;
	z-index: 5;
	position: relative;
	height: 400px;
}

.outcolor .slide .images {
	width: inherit;
	margin: 0 auto;
	overflow: hidden;
}

.outcolor .slide .images>div {
	width: 100%;
	float: left;
	position: absolute;
	top: 0;
	left: 0;
}

.outcolor .slide .images a {
	position: relative;
	display: block;
	margin: 0 auto;
	width: 1200px;
}

.slider_indicator {
	position: absolute;
	z-index: 1;
	left: 50%;
	bottom: 20px;
	font-size: 0;
	padding: 4px 8px;
	border-radius: 12px;
	background-color: hsla(0, 0%, 100%, .3);
	display: none;
}

.slider_indicator_btn {
	display: inline-block;
	margin-right: 10px;
	width: 12px;
	height: 12px;
	border-radius: 100%;
	background-color: #fff;
}

.slider_indicator_btn_active {
	background-color: #ff630e;
}

.slider_indicator_btn_last {
	margin-right: 0;
}

.slider_control_item {
	display: none;
	position: absolute;
	z-index: 1;
	top: 50%;
	margin-top: -30px;
	width: 40px;
	height: 68px;
	background-color: #333;
	background-color: rgba(0, 0, 0, .1);
	line-height: 68px;
	text-align: center;
}

.outcolor:HOVER .slider_control_item {
	display: block;
}

.slider_control_prev {
	left: 20px;
}

.slider_control_next {
	right: 20px;
}

.slider_control_item i {
	display: inline-block;
	font-size: 24px;
	color: #fff;
}

.slider_control_item:hover {
	background: rgba(0, 0, 0, .6);
}

#topic {
	background-color: #fff;
	padding: 36px 0 60px 0;
}

#topic .topic-box {
	width: 290px;
	height: 210px;
	overflow: hidden;
	margin-right: 13px;
	border-radius: 4px;
	position: relative;
	margin-bottom: 15px;
}

#topic .last-topic {
	margin-right: 0;
}

#topic .topic-box a {
	display: block;
	width: 290px;
	height: 210px;
}

#topic .topic-box img {
	width: 100%;
	height: 100%;
}

#topic .topic-box a:hover .topic-des {
	opacity: 1;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	transition: all .2s;
}

#topic .topic-box a:hover .topic-des p {
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	-moz-transform: translateY(0);
	transform: translateY(0);
	visibility: visible;
}

#topic .topic-des {
	opacity: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, .5);
}

#topic .topic-box a:hover .topic-des1 {
	display: none;
}

#topic .topic-des p {
	color: #fff;
	visibility: hidden;
	-webkit-transform: translateY(200px);
	-ms-transform: translateY(200px);
	-moz-transform: translateY(200px);
	transform: translateY(200px);
	width: 209px;
	height: 100px;
	margin: 50px 0 0 40px;
	padding: 12px 0 0;
	border: solid #fff;
	border-width: 1px 0;
	vertical-align: middle;
	text-align: center;
}

#topic .topic-des p span {
	font-size: 24px;
	color: #fff;
	height: 32px;
	margin-bottom: 18px;
}

#topic .topic-des p em, #topic .topic-des p span {
	display: inline-block;
	width: inherit;
	text-align: center;
	overflow: hidden;
}

#topic .topic-des p em {
	font-size: 14px;
	color: #e9e9e9;
	height: 20px;
}

#content {
	background-color: #fff;
	padding: 15px 0 60px 0;
}

#content .wrap-list {
	margin-left: 0;
	margin-right: 20px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#content .zt-card-primary {
	width: 284px;
	padding: 7px 7px 0;
	margin-bottom:10px;
	border-radius: 4px;
	overflow: hidden;
}

.zt-card-primary .card-img {
	position: relative;
	overflow: hidden;
	min-height: 130px;
	max-height: 432px;
}

.zt-card-primary .card-img>a {
	display: block;
}

.zt-card-primary .card-img img {
	width: 100%;
	display: block;
}

.zt-card-primary .card-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0;
	filter: alpha(opacity = 0);
	z-index: 2;
	cursor: pointer;
}

.zt-card-primary .card-handle {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
}

.zt-card-primary .card-handle .handle-dum {
	position: absolute;
	bottom: 40px;
	left: 50%;
	margin: -23px 0 0 -82px;
	width: 164px;
	height: 46px;
	line-height: 46px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	background: #ff630e;
	background-image: -webkit-gradient(linear, left top, right top, from(#fda233),
		to(#ff630e));
	background-image: -webkit-linear-gradient(left, #fda233, #ff630e);
	background-image: linear-gradient(to right, #fda233, #ff630e);
	border: 0;
}

.zt-card-primary:hover .card-handle {
	display: block;
}

.zt-card-primary:hover .card-bg {
	filter: alpha(opacity = 40);
	opacity: .4;
}

.zt-card-primary:hover .handle-fav {
	color: #666;
}

.zt-card-primary .handle-fav:hover {
	color: #f60;
}

.zt-card-primary .card-handle .handle-dum:HOVER {
	-webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .15);
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .15);
	opacity: 1;
}

.zt-card-primary .card-handle .handle-dum span {
	color: #fff;
	font-size: 14px;
}

.zt-card-primary .card-handle .handle-dum span i {
	font-size: 20px;
	float: left;
	margin-left: 40px;
}

.zt-card-primary .card-handle .handle-fav {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 32px;
	height: 32px;
	background-color: #fff;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
	text-align: center;
	padding-top: 5px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.zt-card-primary .card-handle .handle-fav i {
	font-size: 20px;
	display: inline-block;
	margin-top: -4px;
}


.zt-card-primary:hover {
    background: #eee;
}

.zt-card-primary .text-box {
    position: relative;
    display: block;
    width: 260px;
    height: 32px;
    line-height: 32px;
    padding: 0 8px;
    margin: 0 auto;
    padding-left: 40px;
}

.zt-card-primary .text-box .pic-type {
    display: block;
    margin-top: 6px;
    margin-right: 2px;
    width: 34px;
    height: 21px;
    line-height: 19px;
    text-align: center;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size: 12px;
    position: absolute;
    left: 0px;
    border: 1px solid #ff630e;
    color: #ff630e;
    box-sizing: border-box;
}

.zt-card-primary .text-box .title {
    display: inline-block;
    width: 190px;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
    font-family: MicrosoftYaHei;
    color: rgba(0,0,0,.6);
}

.searchL1 {
	width: 426px;
	height: 54px;
	margin: 0 auto;
	zoom: 1;
}

.searchLogo {
	display: inline-block;
	background-position: 0 0;
	width: 178px;
	height: 55px;
	background: url(../img/logo11.png);
}

.searchH2 {
	height: 54px;
	font: bold 22px/54px "微软雅黑", "Microsoft YaHei";
	color: #404040;
	margin-left: 15px;
}

.main-title {
	margin-bottom: 20px;
	position: relative;
	height: 31px;
}

.main-title .title {
	font-size: 24px;
	color: #777;
	margin-left: 0px;
}

.main-title .iconfont {
	position: absolute;
	color: #ff630e;
	display: inline-block;
	font-size: 30px;
	top: -3px;
}

.main-title .other-topic a, .main-title .to-more a {
	display: inline-block;
	margin-left: 30px;
	font-size: 14px;
	color: #888;
}

.main-title .other-topic a:hover, .main-title .to-more a:hover {
	color: #fd8320;
}

.main-title .other-topic, .main-title .to-more {
	line-height: 31px;
}

.topic-des1 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background: url(../img/bgto.png);
}

.topic-des1 p {
	font-size: 14px;
	color: #fff;
}

.topic-des1 h3 {
	font-weight: 500;
	font-size: 20px;
	color: #fff;
	margin: 38px 0 6px;
	text-align: center;
}

#header {
	background: #f8f8f8;
}